.premium_info {
	padding: 20px 0;
}

.premium_info ul {
	margin: 0;
	padding: 0;
}

.premium_info ul li {
	margin-bottom: 10px;
}

.premium_info ul li a {
	font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
	padding: 15px 10px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	border-radius: 3px;
	font-size: 12px;
    letter-spacing: 1.4px;
	text-transform: uppercase;
	overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    background: -webkit-linear-gradient(300deg, #2d1582 0%, #19a0ff 100%);
    background: linear-gradient(150deg, #2d1582 0%, #19a0ff 100%);
    z-index: 2;    
}
.premium_info ul li a:hover, .premium_info ul li a:focus {
	transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);	
}

.premium_info ul li a i{
	font-size: 13px;
	margin-top: 3px;
}

li#accordion-section-upgrade_premium .accordion-section-title:after {
    content: "\f174" !important;
    color: #058d14 ;
}
li#accordion-section-upgrade_premium .accordion-section-title {
	color: #058d14 ;
}