#customize-controls .control-section-startkit-upsale .accordion-section-title:hover,
#customize-controls .control-section-startkit-upsale .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-startkit-upsale .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	color: #fff;
    border-color: #2d1582;
    background: linear-gradient(175deg, #2d1582 0%, #19a0ff 100%);
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
	
}

.rtl .control-section-startkit-upsale .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
