#customize-controls .control-section-the-computer-repair .accordion-section-title:hover,
#customize-controls .control-section-the-computer-repair .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-the-computer-repair .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-the-computer-repair .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
/* ---------Customizer--------- */
.control-section-the-computer-repair h3.accordion-section-title {
    font-size: 14px !important;
    color: #fff !important;
    background: #23cfca !important;
}
a.button.button-secondary.alignright {
    color: #fff;
    box-shadow: none;
    font-weight: bold;
    padding: 1px 10px;
    background: #151414;
    height: 32px;   
    font-size: 12px !important;
    border-radius: 0;
}
a.button.button-secondary.alignright:hover {
    background: #fff;
    color: #151414;
}
.customize-control-title {
  display: -webkit-inline-box;
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  background: #0085ba;
  padding: 0px 15px;
  color: #fff;
}
.customize-control input[type=number], 
.customize-control input[type=search], 
.customize-control input[type=tel], 
.customize-control input[type=url], 
.customize-control input[type=text], 
.customize-control input[type=password],
.customize-control input[type=email],
.customize-control select{
	border: none;
}


/*------- Typogarphy ----------*/

.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-style,
.customize-control-typography li.typography-font-size,
.customize-control-typography li.typography-line-height {
    float: left;
    width: 50%;
}
.customize-control-typography li.typography-font-weight select,
.customize-control-typography li.typography-font-style select {
    width: 90%;
}
.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-size {
    clear: both;
}
.customize-control-typography li.typography-font-size input,
.customize-control-typography li.typography-line-height input {
    width: 118px;
}
input.typography-font-color {
   padding: 0;
   margin: 0;
}
.customize-control-typography ul{
    border-bottom: solid 1px #999;
    padding-bottom: 12px;
}
li#customize-control-the_computer_repair_h1_typography,
li#customize-control-the_computer_repair_h2_typography,
li#customize-control-the_computer_repair_h3_typography,
li#customize-control-the_computer_repair_h4_typography,
li#customize-control-the_computer_repair_h5_typography,
li#customize-control-the_computer_repair_p_typography {
  border-bottom: solid 2px #1e1e1e1e;
  padding-bottom: 12px;
}
/* ---------Image Toggle --------- */
img.the-computer-repair-radio-img-img {
 width: 80px;
 margin-right: 3px;
}
img.the-computer-repair-radio-img-selected {
  border: solid 2px #0085ba;
}
/* ---------Excerpt & Logo --------- */
input#_customize-input-the_computer_repair_excerpt_number,
input#_customize-input-logo_size, 
input#_customize-input-the_computer_repair_slider_excerpt_number,
input#_customize-input-the_computer_repair_slider_opacity_color {
  width: 100%;
}