/*=========================================
    Primary Color
=========================================*/

.preloader {
    background: #f24259;
}

/* 00. Theme Reset Css */
.section-header h2 {
    color: #f24259;
}

.section-header h2:after {
    background: #f24259;    
}

.boxed-btn {
    background: #f24259;    
}

.boxed-btn:hover {
    color: #f24259;    
}

/* 02. Header Top */
#header-top {
    background: #f24259;    
}

/* 03. Custom Navigation */
.main-menu ul li.active a,
.main-menu ul li a:hover {
    color: #f24259 !important;
}

.main-menu ul li ul li:hover:before {
    color: #f24259;
}

.main-menu ul li.active ul li a:hover { 
    color: #f24259 !important;
}

.main-menu ul li a:after,
.main-menu ul li a:before {
    border-color: #f24259 !important;
}


.mean-container a.meanmenu-reveal {
   border-color: #f24259!important;
    color: #f24259!important;
}

.mean-container a.meanmenu-reveal span {
    background-color: #f24259!important;
}

.mean-container .mean-nav {
    background: #f24259!important;    
}

.search-button a {
    color: #f24259;
}

a.book-now {
    border-color; #f24259;
    color: #f24259;    
}

a.book-now:hover {
    background: #f24259;
}

.search-button a.nav-link {
    color: #f24259;
}

#search {
    background: #f24259;    
}

/* Header slider */
.header-slider .owl-next,
.header-slider .owl-prev {
    color: #f24259;    
}

/* 05. Features */

.features-list-item .icon i {
    color: #f24259;
}

.view-more {
    color: #f24259;
}

/* 07. Features */
.features-item:before {    
    background: #f24259;
}

.features-item:hover i {
    color: #f24259;
}

/* 08. Services */
.service-icon i {
    color: #f24259;
}

.services-item .service-icon:after {
    background: #f24259;    
}

.services-item:hover h4 {
    color: #f24259;
}

/* Testimonial */
#testimonial .owl-dot.active {
    background: #f24259 !important;
}

.single-testimonial h4 {
    color: #f24259;
}

.single-testimonial h4:after {
    background: #f24259;    
}


/* Recent Blog */
#recent-blog .post-thumbnail:after {
    background: #f24259;    
}

#recent-blog .blog-post:hover .read-more-link,
.blog-post:hover .post-content .post-title a {
    color: #f24259;
}

#footer-copyright {
    background: #f24259;
}

.scrollup {
    background-color: #f24259;
    border-color: #f24259;

}

.scrollup:hover {
    color: #f24259;
    border-color: #f24259;
}

/* Gallery */
.gallery-popup:hover {
    color: #f24259;
}

.load-btn {    
    background: #f24259;
}

/*------------------------
    Blog
-------------------------*/
.blog-post:hover h4.post-title a {
    color: #f24259 !important;
}

.post-content .continue-reading:hover {
    color: #f24259 !important;
}

#blog-content ul.meta-info li:hover i,
#blog-content ul.meta-info li a:hover {
    color: #f24259;
}

.blog-post .post-thumb {
    background: #f24259;    
}

.post-new-comment input,
.post-new-comment textarea {
    border-color: #f24259;
}

.single-blog-area ul.share-icon li a:hover {
    color: #f24259;
}

/* Widget Color */

.widget_about a:hover {
    color: #f24259;
}

.widget_pages ul li a:hover {
    color: #f24259;
}

.sidebar .widget_search input[type=button],
.sidebar .widget_search input[type=submit] {
    background: #f24259;
}

.sidebar .widget_recent_entries ul li a:hover,
.sidebar .widget_recent_comments ul li a:hover,
.sidebar .widget_archive ul li a:hover,
.sidebar .widget_categories ul li a:hover,
.sidebar .widget_meta ul li a:hover {
	color: #f24259;
}

.footer-sidebar .widget_search input[type=button],
.footer-sidebar .widget_search input[type=submit],
.footer-sidebar .widget_search input[type=submit]:hover {
    background: #f24259;
}
.footer-sidebar .widget_recent_entries ul li a:hover,
.footer-sidebar .widget_recent_comments ul li a:hover,
.footer-sidebar .widget_archive ul li a:hover,
.footer-sidebar .widget_categories ul li a:hover,
.footer-sidebar .widget_meta ul li a:hover {
	color: #f24259;
}
.recent-post h6:hover {
    color: #f24259;
}

ul.recent-meta-info li a:hover {
    color: #f24259;
}

.days li .active {
    color: #f24259;
    border-color: #f24259;
}

.widget-newsletter .subscribe {
    color: #f24259;
    border-color: #f24259;
}

.widget-newsletter .subscribe:hover {
    background: #f24259;
}


ul.widget-social li a:hover {
    color: #f24259;
}

ul.tags li a:hover {    
    background: #f24259;
}
em, cite, q {
    color: #f24259;
}
a {
    color: #f24259;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
    border: 1px solid #f24259;
}
table th {
    background: #f24259;
}
blockquote {
    border-left: 5px solid #f24259 !important;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: #f24259!important;
}
/* new */
.sidebar .widget table tbody a {
    color: #f24259;
    border-color: #f24259;
}
.widget_tag_cloud a:hover {
    background: #f24259;
}
.footer-sidebar .widget table tbody a { 
	color: #f24259;
    border-color: #f24259;
}
.widget_about a:hover {
    color: #f24259;
}
textarea {
	border: 1px solid #f24259;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
    border: 1px solid #f24259;
}
.blog-author-social a {
    color: #f24259;
}
.paginations a:hover, .paginations a:focus, .paginations a.active, span.page-numbers.current {
	background:#f24259;
}
a.page-numbers {
    color: #f24259;
}

.textwidget a:hover {
    color: #f24259;
}
/*=========================================
    Secondary Color
=========================================*/
/* Theme Reset css */
button, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #233049!important;
}
p {
    color: #233049;
}

.section-header p {
    color: #233049;
}

/* Main Menu*/
.mean-container .mean-nav ul li a.mean-expand:hover {
    background: #233049;
}

/* Sections */
.call-out:after,
#fun-fact:after,
#subscribe:after,
#pricing .features:after,
.video-section:after,
.skill-item:after  {
    background: #233049;    
}


/* Features list*/
.features-list-item h4 {
    color: #233049;
}

.view-more:hover {
    color: #233049;
}

.sorting-btn li a {
    color: #233049;
}

.services-item {    
    color: #233049;
}

.member-title {
    color: #233049;
}

#testimonial .owl-dot {
    background: #233049;    
}

.single-testimonial {
    background: #233049; 
}

#recent-blog .read-more-link {
    color: #233049;    
}

.contact-us-info {
    background: #233049;    
}

.gallery-item figure:hover figcaption {
    background: #233049;
}

#blog-content .post-title a {
    color: #233049;
}

#blog-content ul.meta-info li {
    color: #233049;
}

#blog-content ul.meta-info li a {
    color: #233049;
}

.post-content .content {
    color: #233049;
}

#blog-content .post-content .continue-reading {
    color: #233049;
}

.single-blog-area .post-title {
    color: #233049;
}

.single-blog-area ul.share-icon li a {
    color: #233049;
}

.post-comment-area .comment-author a {
    color: #233049;
}

.office h4 {
    color: #233049;
}

.office ul li {
    color: #233049;
}

#wrapper-404 .inner-content h1 {
    color: #233049;
}

#wrapper-404 .inner-content p {
    color: #233049;
}

/*Widget CSS */

#footer-widgets,
.widget-search input[type=button]:hover,
form.search-form .search-submit:hover {
    background: #233049;
}


.widget_search .search-form,
.search-form input[type="search"]::-webkit-input-placeholder,
.sidebar .widget-title,
.widget_categories ul li a,
.recent-post h6,
ul.recent-meta-info li,
ul.recent-meta-info li a,
ul.tags li a,
.widget-calender .widget-title .plus a,
.weekdays li,
.days li.disable,
.days li {
    color: #233049;

}

.get-in-touch input::-webkit-input-placeholder,
.get-in-touch textarea::-webkit-input-placeholder {
  color: #233049;    
}
/* new */
.sidebar .widget table caption { 
    color: #233049; 
}
.sidebar .widget table td, .widget table th { 
	color: #233049;
}
.sidebar .widget_archive ul li a {
	color: #233049;
}
.sidebar .widget-title {
	color: #233049;
}
.sidebar .widget_meta ul li a {
	color: #233049;
}
.sidebar .widget_recent_entries ul li a {
	color: #233049; 
}
.sidebar .widget_recent_comments ul li a {
	color: #233049; 
}
.widget_categories ul li a {
	color: #233049; 
}
.widget_tag_cloud a {
    color: #233049;
}
.footer-sidebar .widget-title {
	color: #233049; 
}
.footer-sidebar .widget table caption { 
    color: #233049; 
}
.footer-sidebar .widget table th { 
    color:#233049; 
}
.footer-sidebar .widget table td, .widget table th { 
	color: #233049;
} 
.gallery-item .gallery-caption {
    color: #233049;
}